# autotools directories:
/tmp*
/autom4te.cache/
/config/
/m4/

# autotools/doxygen files:
/aclocal.m4
/config.log
/config.status
/configure
/stamp-h1

# General patterns are last:
*Makefile
*Makefile.in
*Makefile.in.in
*tags
*~
*.tar
*.tar.?
*.tar.??
*.tar.???
