# autotools directories:
/tmp*
/autom4te.cache/
/config/
/m4/

# autotools/doxygen files:
/ABOUT-NLS
/aclocal.m4
/confdefs.h
/config.h
/config.log
/config.status
/configure
/conftest*
/doxygen.cfg
/stamp-h1

# temporary files:
/patching.tmp

# General patterns are last:
!*.in
!*Makefile.am
*.dirstamp
*.exe
*.o
*.o-*
*.o.*
*.obj
*Makefile
*Makefile.in
*Makefile.in.in
*tags
*~
*.tar
*.tar.?
*.tar.??
*.tar.???
